[submodule "assets/ray-tracer"]
    path = assets/ray-tracer
    url = https://github.com/Gooey321/ray-tracer.git

[submodule "assets/Wordle-Solver"]
    path = assets/Wordle-Solver  
    url = https://github.com/Gooey321/Wordle-Solver.git

[submodule "assets/Physics-Engine"]
    path = assets/Physics-Engine
    url = https://github.com/Gooey321/Physics-Engine.git

[submodule "assets/Nuclear-Tic-Tac-Toe"]
    path = assets/Nuclear-Tic-Tac-Toe
    url = https://github.com/Gooey321/Nuclear-Tic-Tac-Toe.git